export VES_P12_PASSWORD="<P12_password>"
export VES_P12_CONTENT=$(base64 -w0 <your.p12 file>)
export AWS_ACCESS_KEY_ID="<key_id>"
export AWS_SECRET_ACCESS_KEY="<access_key>"
export AWS_SESSION_TOKEN="<session_token>"
# uncomment below and fill in the required extra CIDRS for AWS Ingress Security Group
# export TF_VAR_extra_cidrs="a.a.a.a/m,b.b.b.b/m"
